doctype html
head
  title My Pocket
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/dist/css/build.min.css')
  script(type='application/javascript' src='/dist/js/build.min.js')
.wrapper
  header
    h1 My Pocket
  .container
    .d-flex.hv_center
      .login_signup_box.mx-auto
        h1(style='font-size:75px;')= errorCode
        br
        p= errorMessage
        .buttons
          a(href='#')
            button.btn.btn-blue(type='button' onclick='window.history.back()') Back
          a(href='/home')
            button.btn.btn-blue(type='button') Home
          if showLogout === true
            a(href='/logout')
              button.btn.btn-blue(type='button') Login using different Account
