doctype html
head
  title My Pocket
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/dist/css/build.min.css')
  script(type='application/javascript' src='/dist/js/build.min.js')
.wrapper(ng-app='myPocketApp' ng-controller='h' ng-init='d={p: "6fa979f20126cb08aa645a8f495f6d85", u:"'+ user +'"}')
  header
    h1 Home | My Pocket
    a(href='/logout')
      button.btn.btn-blue(type='button') Logout
  .container.page_padding
    .search_bar.d-flex
      input.form-control(ng-click='fetch()' ng-model='q' ng-change='s(q)' type='text' placeholder='Search here')
    .table-responsive
      table.table.table-bordered.table-striped
        thead
          tr.table_heading
            th Key
            th Password
        tbody
          tr(ng-if='!q')
            td
              .password_input.position-relative
                input.read_password(type='text' ng-model='d.k' placeholder='Descibe your password' area-hidden='true')
            td
              .password_input.position-relative
                input.read_password(type='password' ng-model='d.v' placeholder='Pasword' area-hidden='true' id='foo')
                i(class='fa fa-save' area-hidden='true' ng-click='sv(d)')
          tr(ng-repeat='e in fR')
            td {{ e.k }}
            td
              .password_input.position-relative
                input.read_password(ng-init='e.vi=false' type='{{e.vi ? "text" : "password"}}' readonly='' value='{{e.v}}')
                i(ng-click='view(e)' ng-class='{true:"fa fa-eye-slash", false:"fa fa-eye"}[e.vi]' area-hidden='true')

