doctype html
head
  title Log In | My Pocket
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/dist/css/build.min.css')
  script(type='application/javascript' src='/dist/js/build.min.js')
.wrapper
  header
    h1 Log In | My Pocket
  .container
    .d-flex.hv_center
      .login_signup_box.mx-auto
        h2 Login
        form(action='/login' method='POST' ng-app='myPocketLogInApp' ng-controller='t')
          .form-group
            label Email Address
            input.form-control(type='email' name='email' value=user placeholder='Enter your email address' readonly)
          .form-group
            label Password
            .password_input.position-relative
              input.form-control(type='{{view ? "password" : "text"}}' name='password' placeholder='Enter your password')
              i(ng-init='view=true' ng-click='view = !view' ng-class='{true:"fa fa-eye", false:"fa fa-eye-slash"}[view]' area-hidden='true')
          a.forgot_pwd(href='/logout') Want to Log In with different account?
          .submit_btn.text-center
            button.btn.btn-blue.btn-block(type='submit') Login
