doctype html
head
  title Register | My Pocket
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type="text/css" href='/dist/css/build.min.css')
  script(type='application/javascript' src='/dist/js/build.min.js')
.wrapper
  header
    h1 Register | My Pocket
  .container
    .d-flex.hv_center
      .login_signup_box.mx-auto
        h2 Sign Up
        form(action='/register' method='POST' ng-app='myPocketLogInApp' ng-controller='t')
          .form-group
            label Email Address
            input.form-control(type='email' name='email'  value=user placeholder='Enter your email address' readonly)
            input(type="text", value=uI name= 'uI' ng-show='false')
          .form-group
            label Password
            .password_input.position-relative
              input.form-control(type='{{view1 ? "password" : "text"}}' name='password' placeholder='Enter your password')
              i(ng-init='view1=true' ng-click='view1 = !view1' ng-class='{true:"fa fa-eye", false:"fa fa-eye-slash"}[view1]' area-hidden='true')
          .form-group
            label Confirm Password
            .password_input.position-relative
              input.form-control(ng-init='view2=true' type='{{view2 ? "password" : "text"}}' name='confirm-password' placeholder='Enter your password')
              i(ng-click='view2 = !view2' ng-class='{true:"fa fa-eye", false:"fa fa-eye-slash"}[view2]' area-hidden='true')
          a.forgot_pwd(href='/logout') Want to Register with different account?
          .submit_btn.text-center
            button.btn.btn-blue.btn-block(type='submit') Sign Up
