/********reset css*********/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 25px;
}

.hv_center {
    height: calc(100vh - 60px);
    margin: 30px 0;
}

.login_signup_box {
    width: 600px;
    max-width: 100%;
    padding: 60px 100px;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-self: center;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #363ea7;
    margin-bottom: 40px;
}

form label {
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    padding: 10px 15px;
    height: auto;
}

.password_input .fa {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #666;
    cursor: pointer;
}

.btn-blue {
    background-color: #363ea7;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid #363ea7;
}

.submit_btn {
    width: 100%;
    display: inline-block;
}

.forgot_pwd {
    display: block;
    float: right;
    color: #363ea7;
    margin-bottom: 30px;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #fff;
    color: #363ea7;
}


/*******header*******/

header {
    padding: 15px 30px;
    display: flex;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1050;
}

header h1 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: auto;
    color: #363ea7;
    align-self: center;
    line-height: 30px;
}

header button {
    align-self: center;
    margin-left: auto;
}

.page_padding {
    padding-top: 120px;
}

.read_password {
    height: auto;
    padding: 0;
    border: 0;
    width: auto;
    background-color: transparent;
}

table .password_input .fa {
    top: 6px;
}

table {
    margin: 20px 0;
}

table th {
    font-weight: 500;
    font-size: 18px;
}

table thead th:first-child {
    min-width: 200px;
}

table tr.table_heading {
    background-color: #363ea7;
    color: #fff;
}

.search_bar input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 48px;
}

.search_bar .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 48px;
}


/*
.search_bar {
    display: flex;
}

.search_bar button {
    display: flex;
}

.search_bar span,
.search_bar i {
    display: inline-block;
} */

@media(max-width:575px) {
    .login_signup_box {
        padding: 50px 30px;
    }
}

@media print {
    body {
        display: none;
    }
}